
<header class="header">
    <div class="name">
        <a (click)="setLegalPrivacyDefault()" href="#atf">
            <span>Simon</span>
        </a>
       
    </div>
    <div>
        <div class="d-none">
            <div class="language">
                <a [ngClass]="{'d-none': quicklinks, 'clicked' : langDE}"  (click)="switchLanguage('de'); styleLanguage('german'); setLegalPrivacyDefault();">DE</a>
                <span [ngClass]="{'d-none': quicklinks}">|</span>
                <a [ngClass]="{'d-none': quicklinks, 'clicked' : langEN}" (click)="switchLanguage('en'); styleLanguage('english'); setLegalPrivacyDefault();">EN</a>
            </div>
            @if(languageService.langEN){
                <a [ngClass]="{'d-none': quicklinks, 'clicked' : about,  }" (click)="styleQuicklinks('about'); setLegalPrivacyDefault()" id="about" href="#aboutMeAnchor">About me</a>
            }
            @else{
                <a [ngClass]="{'d-none': quicklinks, 'clicked' : about, }" (click)="styleQuicklinks('about'); setLegalPrivacyDefault()" id="aboutDE" href="#aboutMeAnchor">Über mich</a>
            }
            <a [ngClass]="{'d-none': quicklinks, 'clicked' : skills}" (click)="styleQuicklinks('skills'); setLegalPrivacyDefault()" id="skills" href="#myskills">Skills</a>
            <a [ngClass]="{'d-none': quicklinks, 'clicked' : portfolio}" (click)="styleQuicklinks('portfolio'); setLegalPrivacyDefault()" id="portfolio" href="#myportfolio">Portfolio</a>
        </div>
        
        <div class="burger d-none" >
            <div class="language">
                <a [ngClass]="{'d-none': mobileView, 'clicked' : langDE}" (click)="styleLanguage('german'); setLegalPrivacyDefault(); switchLanguage('de')">DE</a>
                <span [ngClass]="{'d-none': mobileView}">|</span>
                <a [ngClass]="{'d-none': mobileView, 'clicked' : langEN}" (click)="styleLanguage('english'); setLegalPrivacyDefault(); switchLanguage('en')">EN</a>
            </div>
            <img (click)="showBurgerMenu()"  [ngClass]="{'d-none': mobileView}" src="../../assets/img/header/burger_menu.png" alt="">
        </div>
    </div>
</header>

    
    <div class="burgerMenu"
    (click)="showBurgerMenu()"
    [ngClass]="{'show-burgerMenu': burgerMenu}"
    >
        <div class="orientation">
            <div>
                @if(languageService.langEN){
                    <a (click)="setLegalPrivacyDefault(); setSkillButtonAndScrollDown()" href="#myaboutMe">About me</a>
                }
                @else {
                    <a (click)="setLegalPrivacyDefault(); setSkillButtonAndScrollDown()" href="#myaboutMe">Über mich</a>
                }
                
                <a (click)="setLegalPrivacyDefault(); setSkillButtonAndScrollDown()" href="#myskills">Skills</a>
                <a (click)="setLegalPrivacyDefault(); setSkillButtonAndScrollDown()" href="#myRespPortfolio">Portfolio</a>
                
                @if(languageService.langEN){
                    <a (click)="setLegalPrivacyDefault(); setSkillButtonAndScrollDown()" href="#mycontact">Contact</a>
                }@else {
                    <a (click)="setLegalPrivacyDefault(); setSkillButtonAndScrollDown()" href="#mycontact">Kontakt</a>
                }
            </div>
        </div>
    </div>
   


