@mixin fontStyle {
    font-family: Poppins;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
}


.m-styling{
    background: linear-gradient(to right, #fff 65%, #9747FF 35%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.n-styling{
    background: linear-gradient(to right, #fff 34%, #70E61C 34%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.s-styling{
    background: linear-gradient(to top, #fff 46%, #70E61C 34%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.d-none {
    display: none;
}

.languageVisible {
    display: none;
}

header {
    height: 100px;
    width: 100%;
}

.header{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    z-index: 999;
    padding: 24px 50px 24px 50px;
    background-color: #141D2F;
    span{
        cursor: pointer;
        font-family: Poppins;
        font-size: 35px;
        font-weight: 400;
        line-height: 27.6px;
    }
    
    div {
        display: flex;
        text-wrap: nowrap;
        margin-right: 24px;
        height: 32px;
    }

    .wrapperHeader {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1920px;
        min-width: 320px;
    }

    .name {
        a {
            margin-left: 0px;
        }
    }

    div a{
        text-decoration: none;
        color: #FFFFFF;
        cursor: pointer;
        @include fontStyle;
        margin-left: 32px;
    }

    div a:hover {
        color: #70E61C;
    }

    .clicked {
        border-bottom: 2px solid #9747FF;
        color: #70E61C !important;
    }

    .language {
        margin-right: 8px;
        span {
            font-size: 20px;
            color: #9747FF;
        }
        
        a {
            margin-left: 8px;
            margin-right: 8px;
        }
    }
}

.burgerMenu {
    position: fixed;
    right: 0;
    top: 148px;
    padding-top: 16px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 102vw;
    height: 100vh;
    background-color: #414856;
    transform: translateX(102vw);
    transition: all 125ms ease-in-out;
    .orientation {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 290px;
   }

    a {
        display: flex;
        align-items: flex-start;
        justify-content: start;
        text-decoration: none;
        color: #FFFFFF;
        cursor: pointer;
        @include fontStyle;
        margin-bottom: 29px;
    }

    a:hover {
        color: #70E61C;
    }
}

.show-burgerMenu {
    transform: translateX(0px); 
}

@media (max-width: 700px) {
   .burger {
       display: flex;
       cursor: pointer;
       img {
        display: flex;
        margin-left: 15px;
       }
   }
}

@media (max-width: 410px) {
    .header {
        padding: 24px 50px 24px 10px;
        div {
            margin-right: 10px;
        }
    }

    .burgerMenu {
        .orientation {
            position: absolute;
            top: 200px;
       }
    }
 }

 @media (max-width: 375px) {
    .burgerMenu {
        .orientation {
            position: absolute;
            top: 150px;
       }
    }
 }