
<header class="header">
    <div class="name">
        <a (click)="setLegalPrivacyDefault()" href="#atf">
            <span>Simon</span>
        </a>
       
    </div>
    <div>
        <div class="d-none">
            <div class="language">
                <a [ngClass]="{'d-none': quicklinks, 'clicked' : langDE}" (click)="styleQuicklinks('german'); setLegalPrivacyDefault()">DE</a>
                <span [ngClass]="{'d-none': quicklinks}">|</span>
                <a [ngClass]="{'d-none': quicklinks, 'clicked' : langEN}" (click)="styleQuicklinks('english'); setLegalPrivacyDefault()">EN</a>
            </div>
            <a [ngClass]="{'d-none': quicklinks, 'clicked' : about}" (click)="styleQuicklinks('about'); setLegalPrivacyDefault()" id="about" href="#aboutMeAnchor">About me</a>
            <a [ngClass]="{'d-none': quicklinks, 'clicked' : skills}" (click)="styleQuicklinks('skills'); setLegalPrivacyDefault()" id="skills" href="#myskills">Skills</a>
            <a [ngClass]="{'d-none': quicklinks, 'clicked' : portfolio}" (click)="styleQuicklinks('portfolio'); setLegalPrivacyDefault()" id="portfolio" href="#myportfolio">Portfolio</a>
        </div>
        
        <div class="burger d-none" >
            <div class="language">
                <a [ngClass]="{'d-none': mobileView, 'clicked' : langDE}" (click)="styleQuicklinks('german'); setLegalPrivacyDefault()">DE</a>
                <span [ngClass]="{'d-none': mobileView}">|</span>
                <a [ngClass]="{'d-none': mobileView, 'clicked' : langEN}" (click)="styleQuicklinks('english'); setLegalPrivacyDefault()">EN</a>
            </div>
            <img (click)="showBurgerMenu()"  [ngClass]="{'d-none': mobileView}" src="../../assets/img/header/burger_menu.png" alt="">
        </div>
    </div>
</header>

    
    <div class="burgerMenu"
    (click)="showBurgerMenu()"
    [ngClass]="{'show-burgerMenu': burgerMenu}"
    >
        <div class="orientation">
            <div>
                <a (click)="setLegalPrivacyDefault(); setSkillButtonAndScrollDown()" href="#myaboutMe">About me</a>
                <a (click)="setLegalPrivacyDefault(); setSkillButtonAndScrollDown()" href="#myRespSkills">Skills</a>
                <a (click)="setLegalPrivacyDefault(); setSkillButtonAndScrollDown()" href="#myportfolio">Portfolio</a>
                <a (click)="setLegalPrivacyDefault(); setSkillButtonAndScrollDown()" href="#mycontact">Contact</a>
            </div>
        </div>
    </div>
   


