<footer>
    
    <div class="textbox">
        
        <div class="name">
            <a href="#atf" (click)="setLegalPrivacyDefault(); setSkillButtonAndScrollDown()">
                <span id="name" >Simon</span>
            </a>
            
            <a href="legal?style=legal" (click)="changeLegal()" [ngClass]="{'d-none': hide}" class="cursor" id="impressum" >Impressum</a>
        </div>
        
        
        <span class="copyright">© Simon Weirauch 2024</span>
            
        <div class="socials">
            <img (click)="showGit()" src="../../assets/img/atf/github_button.png">
            <a href="mailto:simon.w2@gmx.net">
                <img  src="../../assets/img/atf/email_button.png">
            </a>
            <img (click)="showLinkedIn()" src="../../assets/img/atf/linkedin_button.png">
        </div>

        <a href="legal?style=legal" (click)="changeLegal()"
        
        class="d-none cursor" [ngClass]="{'d-none': mobileView}" >Impressum</a>
    </div>

</footer>
