<footer>
    
    <div class="textbox">
        
        <div class="name">
            <span id="name" >Simon</span>
            <span id="impressum" >Impressum</span>
            
        </div>
        
        
        <span class="copyright">© Simon Weirauch 2024</span>
            
        <div class="socials">
            <img src="../../assets/img/atf/github_button.png">
            <img src="../../assets/img/atf/email_button.png">
            <img src="../../assets/img/atf/linkedin_button.png">
        </div>
    </div>

</footer>
