<section>
    <div class="aboutMe" >
        
        <div class="detailBox">
            <h1>About me</h1>
            <span>Hi, I am a Front-end deverloper based in München, Germany(....)Lorem 
                ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non 
                tempus convallis. Integer et justo vitae urna finibus eleifend sit 
                amet porttitor sapien. Donec sollicitudin massa vel lorem vestibulum 
                efficitur. 
            </span>
            
            <div class="personalInfoBulb">
                <img class="icons" src="../../assets/img/about/bulb_desktop.png">
                <span>Some personal thing to share(...) Donec ut imperdiet diam, 
                    et convallis neque. Class aptent taciti sociosqu ad litora 
                    torquent per conubia nostra, per inceptos himenaeos. 
                </span>
            </div>
            <div id="myRespSkills" class="personalInfoPuzzle">
                <img class="icons" src="../../assets/img/about/puzzle_white.png">
                <span>Some personal thing to share(...) Donec ut imperdiet diam, 
                    et convallis neque. Class aptent taciti sociosqu ad litora 
                    torquent per conubia nostra, per inceptos himenaeos. 
                </span>
            </div>
        </div>
        
        <div class="imageBox">
            <img class="shadows" src="../../assets/img/about/photo_shadows.png">
            <img class="profilePic" src="../../assets/img/about/profile.png">
        </div>

    </div>
    

    <div id="myskills" class="vector">
        <img class="" src="../../assets/img/about/vector_about.png">
    </div>
 


</section>
