<section>
    <div class="aboutMe" >
        <h1>About me</h1>
        <div class="detailBox">
            <span>Hi, I am a Front-end deverloper based in München, Germany(....)Lorem 
                ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non 
                tempus convallis. Integer et justo vitae urna finibus eleifend sit 
                amet porttitor sapien. Donec sollicitudin massa vel lorem vestibulum 
                efficitur. 
            </span>
            
            <div class="personalInfoBulb">
                <img src="../../assets/img/about/bulb_desktop.png">
                <span>Some personal thing to share(...) Donec ut imperdiet diam, 
                    et convallis neque. Class aptent taciti sociosqu ad litora 
                    torquent per conubia nostra, per inceptos himenaeos. 
                </span>
            </div>
            <div class="personalInfoPuzzle">
                <img src="../../assets/img/about/puzzle_white.png">
                <span>Some personal thing to share(...) Donec ut imperdiet diam, 
                    et convallis neque. Class aptent taciti sociosqu ad litora 
                    torquent per conubia nostra, per inceptos himenaeos. 
                </span>
            </div>
        </div>
    </div>
    <img class="shadows" src="../../assets/img/about/photo_shadows.png">
    <img class="profilePic" src="../../assets/img/about/sign2.webp">
    <img class="vector" src="../../assets/img/about/vector_about.png">
</section>
