<section>
    <div class="wrapperLegal">
        @if(languageService.langEN){
            <div class=legal><h1>Imprint</h1><p>according to § 5 TMG</p><p>Simon Weirauch <br> 
                Karl-Marx-Straße 4b<br> 
                55288 Schornsheim <br> 
                </p><p> <strong>Represented by: </strong><br>
                Simon Weirauch<br>
                </p><p><strong>Contact:</strong> <br>
                Phone: 01578-4024295<br>
                E-Mail: <a href='mailto:simon.w2@gmx.net'>simon.w2&#64;gmx.net</a>
                </p><p><strong>Disclaimer: </strong><br><br><strong>Liability for content</strong><br><br>
                
                    The contents of our pages were created with great care. However, we cannot guarantee that the content is correct, complete or up-to-date
                    assume liability. As a service provider, we are responsible for our own content on these pages in accordance with general laws in accordance with Section 7 Paragraph 1 TMG. After
                    However, according to §§ 8 to 10 TMG, as a service provider we are not obliged to monitor transmitted or stored third-party information or depending on the circumstances
                    to conduct research that indicates illegal activity. Obligations to remove or block the use of information according to the general
                    Laws remain unaffected. However, liability in this regard is only possible from the time of knowledge of a specific legal violation. At
                    If we become aware of any corresponding legal violations, we will immediately remove this content.
                
                <br><br><strong>Liability for links</strong><br><br>
                Our offer contains links to external third-party websites over whose content we have no influence. That's why we can't take responsibility for this external content
                assume liability. The respective provider or operator of the pages is always responsible for the content of the linked pages. The linked pages
                were checked for possible legal violations at the time of linking. Illegal content was not apparent at the time of linking. One
                However, permanent control of the content of the linked pages is unreasonable without concrete evidence of a legal violation. When it becomes known
                We will immediately remove such links if there are any violations of the law.
        
                
                <br><br><strong>Copyright</strong><br><br>
                The content and works on these pages created by the site operators are subject to German copyright law. The reproduction, processing,
                Distribution and any kind of exploitation outside the limits of copyright law require the written consent of the respective author
                or creator. Downloads and copies of this page are only permitted for private, non-commercial use. As far as the content
                If this site was not created by the operator, the copyrights of third parties are respected. In particular, third-party content is considered as such
                marked. Should you nevertheless become aware of a copyright infringement, we ask that you notify us accordingly.
                If we become aware of any legal violations, we will immediately remove such content.
                
                <br><br><strong>Data Protection</strong><br><br>
                It is generally possible to use our website without providing any personal data. As far as personal data on our pages
                (e.g. name, address or e-mail addresses) are collected, this is always done on a voluntary basis, as far as possible. These dates
                will not be passed on to third parties without your express consent. <br>
        
                We would like to point out that data transmission over the Internet (e.g. when communicating via email) can have security gaps. A
                Complete protection of data from access by third parties is not possible. <br>
        
                The use by third parties of contact details published as part of the imprint obligation to send information is not expressly stated
                Requested advertising and information materials are hereby expressly rejected. The operators of the pages reserve the right
                expressly takes legal action in the event of unsolicited advertising information being sent, such as spam emails.<br>
                
                <br><br><strong>Google Analytics</strong><br><br>
                This website uses Google Analytics, a web analysis service provided by
                Google Inc. (“Google”). Google Analytics uses so-called cookies,
                Text files that are stored on your computer and the one
                enables analysis of your use of the website. Those through the
                Information generated by cookies about your use of this website
                (including your IP address) is sent to a Google server
                transferred to the USA and stored there. Google will use this information
                to evaluate your use of the website and to produce reports on the
                To compile website activities for the website operators and to
                others related to website use and internet use
                to provide services. Google will also use this information
                may be transferred to third parties if required by law
                required or if third parties process this data on behalf of Google
                process. Under no circumstances will Google share your IP address with others
                Connect Google data. You can install
                the cookies by setting your browser accordingly
                prevent software; However, we would like to point out that you in
                In this case, not all functions of this website may be available
                can be used to its full extent. By using this website you declare
                You consent to the processing of the data collected about you by Google
                in the manner and for the purpose described above.</p>
                <br> 
                <p>Imprint of <a href="https://www.impressum-generator.de">impressum generator</a> from <a href="https://www.kanzlei-hasselbach.de/">Hasselbach law firm, lawyers for labor law and family law</a></p>
                </div>
        }
        @else{
            <div class=legal><h1>Impressum</h1><p>Angaben gemäß § 5 TMG</p><p>Simon Weirauch <br> 
                Karl-Marx-Straße 4b<br> 
                55288 Schornsheim <br> 
                </p><p> <strong>Vertreten durch: </strong><br>
                Simon Weirauch<br>
                </p><p><strong>Kontakt:</strong> <br>
                Telefon: 01578-4024295<br>
                E-Mail: <a href='mailto:simon.w2@gmx.net'>simon.w2&#64;gmx.net</a>
                </p><p><strong>Haftungsausschluss: </strong><br><br><strong>Haftung für Inhalte</strong><br><br>
                Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.<br><br><strong>Haftung für Links</strong><br><br>
                Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.<br><br><strong>Urheberrecht</strong><br><br>
                Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.<br><br><strong>Datenschutz</strong><br><br>
                Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. <br>
                Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. <br>
                Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.<br>
                <br><br><strong>Google Analytics</strong><br><br>
                Diese Website benutzt Google Analytics, einen Webanalysedienst der 
                Google Inc. (''Google''). Google Analytics verwendet sog. ''Cookies'', 
                Textdateien, die auf Ihrem Computer gespeichert werden und die eine 
                Analyse der Benutzung der Website durch Sie ermöglicht. Die durch den 
                Cookie erzeugten Informationen über Ihre Benutzung dieser Website 
                (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in 
                den USA übertragen und dort gespeichert. Google wird diese Informationen 
                benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die 
                Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um 
                weitere mit der Websitenutzung und der Internetnutzung verbundene 
                Dienstleistungen zu erbringen. Auch wird Google diese Informationen 
                gegebenenfalls an Dritte übertragen, sofern dies gesetzlich 
                vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google 
                verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen 
                Daten der Google in Verbindung bringen. Sie können die Installation 
                der Cookies durch eine entsprechende Einstellung Ihrer Browser 
                Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in 
                diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website 
                voll umfänglich nutzen können. Durch die Nutzung dieser Website erklären 
                Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google 
                in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.</p>
                <br> 
                <p>Impressum vom <a href="https://www.impressum-generator.de">Impressum Generator</a> der <a href="https://www.kanzlei-hasselbach.de/">Kanzlei Hasselbach, Rechtsanwälte für Arbeitsrecht und Familienrecht</a></p>
                </div>
        }
    
    </div>
</section>




