p {
    color: white;
    font-family: Poppins;
    font-weight: 400;    
    font-size: 14px;
    line-height: 17px;
}

h1 {
    color: white;
    font-family: Poppins;
    font-weight: 400;
    line-height: 27.6px;
    font-size: 23px;
}



a {
    color: white;
    text-decoration: none;
}

strong {
    color: white;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
}

#text {
    color: white;
}

.legal {
    height: max-content;
    width: 90%;
    text-wrap: wrap;
    overflow-y: scroll;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 148px;
}

::-webkit-scrollbar {
    overflow-y: hidden;
}