section {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.wrapperLegal {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1920px;
    min-width: 320px;
}

p {
    color: white;
    font-family: Poppins;
    font-weight: 400;    
    font-size: 14px;
    line-height: 17px;
}

h1 {
    color: white;
    font-family: Poppins;
    font-weight: 400;
    line-height: 27.6px;
    font-size: 23px;
}

a {
    color: white;
    text-decoration: none;
}

strong {
    color: white;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
}

#text {
    color: white;
}

.legal {
    height: max-content;
    text-wrap: wrap;
    overflow-y: scroll;
    padding-left: 43px;
    padding-right: 32px;
    padding-bottom: 5%;
    padding-top: 148px;
}

::-webkit-scrollbar {
    overflow-y: hidden;
}


@media (max-width: 1930px) {
    .legal {
        height: max-content;
        text-wrap: wrap;
        overflow-y: scroll;
        padding-left: 56px;
        padding-right: 32px;
        padding-bottom: 5%;
        padding-top: 148px;
    }
}

@media (max-width: 410px) {
    .legal {
        height: max-content;
        text-wrap: wrap;
        overflow-y: scroll;
        padding-left: 17px;
        padding-right: 32px;
        padding-bottom: 5%;
        padding-top: 148px;
    }
}