@media (max-width: 2350px) {
    .blue {
        width: 20%;
        height: 4px;
        position: relative;
        display: flex;
    }
}

@media (max-width: 1300px) {
    form {
        input {
            width: 75%;
        }

        textarea {
            width: 75%;
        }
    }

    .contactTextbox {
        .contactTextheadline{
            img {
                position: absolute;
                left: -2%;
                height: 4px;
                border: 4px;
            }
        }
    }
}

@media (max-width: 1200px) {
    form {
        position: relative;
        right: -70px;
        input {
            width: 55%;
        }

        textarea {
            width: 55%;
        }

        button {
            position: relative;
            top: -90px;
        }
    
        .disabledButton {
            position: relative;
            top: 0px;
            left: -90px;
        }
    }

    .contactTextbox{
        position: relative;
        left: 2%;
    }

    .privacy {    
        width: 460px;
        display: flex;
        position: relative;
    }

    .contactTextbox {
        .contactTextheadline{
            img {
                position: absolute;
                left: -12%;
                top: 44px;
                height: 4px;
                border: 4px;
            }
        }
    }
}


@media (max-width: 1050px) {
    .middleSection{
        transform: scale(0.9);
        justify-content: center;
    }

    .contactTextbox{
        position: relative;
        left: 8%;
    }

    .bottomSection{        
        height: 80px;
        a{
            height: 0px;
        }
    }

    .blue {
        display: flex;
        top: 326px;
    }
}

@media (max-width: 900px) {
    form {
        position: relative;
        right: -100px;
        input {
            width: 45%;
        }

        textarea {
            width: 45%;
        }

        button {
            position: relative;
            left: -120px;
        }
    
        .disabledButton {
            position: relative;
            left: -120px;
        }
    }

    .bottomSection{
        .topArrow {
            left: 550px; 
        }

        .topArrowGreen {
            left: 550px;
        }
    }

    .contactTextbox{
        position: relative;
        left: 17%;
        span {
            width: 400px;
        }
    }
       
    .privacy {    
        width: 410px;
        display: flex;
        position: relative;
    }
}

@media (max-width: 800px) {
    section {
        height: 950px;
    }

    form {
        position: relative;
        right: -120px;
        input {
            width: 35%;
        }

        textarea {
            width: 35%;
        }

        button {
            position: relative;
            left: -170px;
        }
    
        .disabledButton {
            position: relative;
            left: -170px;
        }

        span {
            width: 340px;
        }
    }

    .contactTextbox{
        left: 26.5%;
        margin-right: 20px;        
    }

    .privacy {    
        width: 320px;
    }
}

//MOBILE VIEW!
@media (max-width: 700px) {
    .green {
        top: 166px;
        left: 66%;
    }

    .blue {
        display: flex;
        top: 265px;
    }
    
    section {
        position: relative;
        bottom: 0px;
        top: 100px;
        height: 1100px;
    }

    .headline {
        h1 {
            gap: 10px;
            color: #FFFFFF;
            font-family: Poppins;
            font-size: 45px;
            font-weight: 700;
            line-height: 54px;
            text-align: center;
            width: 188px;
            height: 54px;
            gap: 0px;
            opacity: 0px; 
        }
        
        img {
            width: 30%;
        }
    }

    .middleSection {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        top: 0px;
        transform: scale(1);
    }

    .bottomSection {
        top: 0px;
       
        .topArrow {
            left: 500px;
        }

        .topArrowGreen {
            left: 500px;
        }
    }

    .contactTextbox {
        position: relative;
        left: 10px;
        margin-right: 0px;
        margin-bottom: 40px;
        .contactTextheadline{
            img {
                position: absolute;
                top: 32px;
                left: -30%;
                width: 100px;
            }

            h2 {
                width: 340px;
                height: 28px;
                gap: 0px;
                opacity: 0px;
                font-family: Poppins;
                font-size: 23px;
                font-weight: 700;
                line-height: 27.6px;
                text-align: left;
            }

            span {
                display: flex;
                width: 500px;
                height: 76px;
                gap: 0px;
                opacity: 0px;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.2px;
                text-align: left;
            }

            .callToAction {
                width: 473px;
                height: 38px;
                gap: 8px;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
            }
        }

        .contactText {
            span {
                gap: 8px;
            } 
        }
    }

    form {
        height: 442px;
        gap: 32px;
        opacity: 0px;
        position: relative;
        left: 75px;
        span {
            position: relative;
            width: 400px;
        }

        .inputBox {
            width: 80%;
            align-items: flex-start;
            .imgPositioning {
                position: relative;
                right: 40px;
                top: 16px;
                height: 25px;
                width: 25px;
                padding-right: 0px; 
            }
        }

        input {
            width: 80%;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
        }

        textarea {
            width: 80%;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
        }

        .privacy {
            width: 460px;
            display: flex;
            position: relative;
            left: 0px;
            span {   
                width: 617px;
                gap: 8px;
                color: #FFFFFF;
                font-family: Poppins;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                text-align: left;
            }

            img {
                cursor: pointer;
                width: 24px;
                height: 24px;
                padding-top: 4px;
                position: relative;
            }
        }

        button {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            position: relative;
            left: -100px;
            width: 195px;
            height: 49px;
        }

        .disabledButton {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            position: relative;
            left: -100px;
            width: 195px;
            height: 49px;
        }
    }
}

@media (max-width: 600px) { 
    form {
        .inputBox {
            width: 75%;
        }
    }
}

@media (max-width: 500px) {
    section {
        height: 1100px;
    }

    form {
        left: 100px;
        .inputBox {
            width: 65%;
        }

        .privacy { 
            width: 340px;
            left: 0px;
        }
    }
    
    .contactTextbox {
        position: relative;
        left: 35px;
        span {
            width: 300px;
            margin-bottom: 16px;
        }
    }
}


@media (max-width: 450px) {
    section {
        height: 1150px;
    }

    .contactTextbox {
        left: 85px;
    }

    .callToAction {
        transform: scale(0.88);
        position: relative;
        left: -27px;
    }

    form {
        left: 150px;
        input {
            width: 77.5%;
        }

        textarea {
            width: 77.5%;
        }
        
        span {
            width: 290px;
        }
        
        .inputBox {
            width: 55%;
        }

        button {
            left: -150px;
        }
    
        .disabledButton {
            left: -150px;
        }

        .privacy { 
            width: 320px;
            left: 0px;
        }    
    }
}

@media (max-width: 350px) {
    .contactTextbox {
        right: -85px;
        span {
            width: 300px;
            margin-bottom: 16px;
        }
    }

    form {
        left: 160px;
        .inputBox {
            width: 50%;
        }

        .privacy { 
            width: 250px;
            left: 0px;
        }   
        
        span {
            width: 270px;
        }

        input {
            width: 75%;
        }

        textarea {
            width: 75%;
        }
    }
}