<section >
    <div class="headline">
        <h1 >Contact</h1>
        <img src="../../assets/img/contact/greenLineContacts.png">
    </div>
    
    <div class="contactTextbox">
        <img src="../../assets/img/contact/blueLineContacts.png">
        <h2>Got a problem to solve?</h2>
        <span>Contact me through this form, I am interested in hearing you, 
            knowing your ideas and contributing to your projects with 
            my work.
        </span>
        <span class="callToAction">Need a Frontend developer? <b>Contact me!</b></span>
    </div>

    <form class="formGab" (submit)="onSubmit(contactForm)" #contactForm="ngForm">
        
        <div class="inputGab">
            <div class="inputBox">
                <input (input)="showHint('name')" 
                    [(ngModel)]="contactData.name" 
                    id="inputName" 
                    name="name"
                    [ngClass]="{'borderGreen': borderGreenName, 'borderRed': borderRedName }" 
                    type="text" 
                    required placeholder="Your name">
                
                <img id="errorImgName"
                    [ngClass]="{'d-none': errorImgName, 'imgPositioning': true}"
                    src="../../assets/img/contact/errorSymbol.png" 
                >
              
                <img id="successImgName" 
                    [ngClass]="{'d-none': successImgName, 'imgPositioning': true}"
                    src="../../assets/img/contact/successSymbol.png" 
                >
            </div>
            <span id="errorName" 
                [ngClass]="{'d-none': errorMsgName}"
                >Your name is required</span>
        </div>


        <div class="inputGab">
            <div class="inputBox">
                <input (input)="showHint('email')" 
                    [(ngModel)]="contactData.email"  
                    name="email"  
                    id="inputMail" 
                    [ngClass]="{'borderGreen': borderGreenMail, 'borderRed': borderRedMail }"
                    type="email" 
                    required placeholder="Your email" 
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" >
                
                <img id="errorImgMail"
                    [ngClass]="{'d-none': errorImgMail, 'imgPositioning': true}"
                    src="../../assets/img/contact/errorSymbol.png" 
                    alt=""
                >

                <img id="successImgMail"
                     [ngClass]="{'d-none': successImgMail, 'imgPositioning': true}"
                     src="../../assets/img/contact/successSymbol.png" 
                     alt="">
            </div>
            <span id="errorMail" 
                [ngClass]="{'d-none': errorMsgMail}"
                  >Your email is required</span>
        </div>

        <div class="inputGab">
            <div class="inputBox">
                <textarea (input)="showHint('message')" 
                        [(ngModel)]="contactData.message" 
                        name="text" (input)="messageValidation()"  
                        id="inputText" 
                        required
                        [ngClass]="{'borderGreen': borderGreenMessage, 'borderRed': borderRedMessage }"
                        placeholder="Your message"></textarea>
                
                <img id="errorImgText" 
                    [ngClass]="{'d-none': errorImgMessage, 'imgPositioning': true}"
                    src="../../assets/img/contact/errorSymbol.png" 
                    alt=""
                >

                <img id="successImgText" 
                    [ngClass]="{'d-none': successImgMessage, 'imgPositioning': true}" 
                    src="../../assets/img/contact/successSymbol.png" 
                    alt=""
                >
            </div>
            <span id="errorText" 
                [ngClass]="{'d-none': errorMsgMessage}"
                >Your message is empty</span>
        </div>
        
        <div class="inputGab">
            <div class="privacy">
                @if(checkbox){
                    <img (click)="acceptCheckbox(); sendForm()" src="../../assets/img/contact/checkbox_checked.png" alt="">
                }
                @else(){
                    <img (click)="acceptCheckbox(); sendForm()" src="../../assets/img/contact/checkbox_unchecked.png" alt="">
                }
                
                <span>I've read the <a>privacy policy</a> and agree to the 
                    processing of my data as outlined.
                </span>
            </div>
            <span id="errorPrivacy"
                   [ngClass]="{'d-none': errorMsgPrivacy}"
                  >Please accept the privacy policy.
            </span>
        </div>

        <button type="submit" class="buttonHover">Send message :)</button>
    </form>
    
    @if(hover){
        <a (mouseleave)="changeButtomArrowWhite()" href="#header"><img class="topArrowGreen" src="../../assets/img/contact/topArrowGreen.png" alt=""></a>
    }
    @else {
        <a (mouseenter)="changeButtomArrowGreen()" href="#header"><img class="topArrow" src="../../assets/img/contact/topArrow.png" alt=""></a>
    }
    
    <img class="purpleShadow" src="../../assets/img/contact/purpleShadowContacts.png" alt="">
</section>

