
.hideInPortrait{
    display: none;
}

.hideInLandscape {
    display: none;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}  

img {
    width: 100px;
    height: 100px;
    margin-top: 0px;
    margin-bottom: 30px;
}

span {
    color: white;
    font-family: Poppins;
    font-weight: 400;    
    font-size: 14px;
    line-height: 17px;
    margin-top: 0px;
    margin-bottom: 30px;
}

app-skills{
    max-width: 1920px;
    position: relative;
    top: -150px;
}

app-legal {
    position: relative;
    top: 200px;
    width: 100%;
    height: 1000px;
}

app-privacy{
    position: relative;
    top: 130px;
    width: 100%;
    height: 1000px;
}

@media (max-width: 1050px) {
    app-skills{
        top: -150px;
    }
}

@media (max-width: 700px) {
    app-skills{
        position: relative;
        top: 0px;
    }
}