


   
    <div [ngClass]="{'hideInPortrait': landscapeInfo}">
        <div class="background">
            <img src="../assets/img/atf/landscape.png">   
            <span>This page is designed for potrait mode only</span>
        </div>
    
    </div>

    <app-atf class="dimensions" id="atf" [ngClass]="{'hideInLandscape': landscapeMode}"></app-atf>
    
    <app-aboutme class="dimensions" [ngClass]="{'hideInLandscape': landscapeMode}"></app-aboutme>
        
    <app-skills class="skills" [ngClass]="{'hideInLandscape': landscapeMode}"></app-skills>
    
    <app-portfolio class="dimensions" [ngClass]="{'hideInLandscape': landscapeMode}" ></app-portfolio>
    
    <app-contact class="dimensions" [ngClass]="{'hideInLandscape': landscapeMode}" (privacyEmitter)="changePrivacy($event)"></app-contact>



