<section>
    <div class="icons">
        <div class="column1">
            <img src="../../assets/img/skills/js.png"> 
            <img src="../../assets/img/skills/git.png">
            <img src="../../assets/img/skills/scrum.png">
            <img src="../../assets/img/skills/matDesign.png">  
        </div>
        <div class="column2">
            <img src="../../assets/img/skills/angular.png"> 
            <img src="../../assets/img/skills/firebase.png"> 
            <img src="../../assets/img/skills/restAPI.png"> 
        </div>
        <div class="column2">
            <img src="../../assets/img/skills/ts.png"> 
            <img src="../../assets/img/skills/css.png"> 
        </div>
        <div class="column2"> 
            <img src="../../assets/img/skills/html.png">
        </div>
    </div> 

    <div class="skills">
        <div class="headline">
            <h1>Skills</h1>
            <img src="../../assets/img/skills/line_blue.png">
        </div>
        <span>I have gained experience in building projects with various 
            front end technologies and concepts.
        </span>
    </div>
    <button>Get in touch</button>
    

</section>
