<section >
    <div class="iconfield" >
        <div class="column1">
            <div class="iconBox">
                <img src="../../assets/img/skills/Javascript.png">
                <span>JavaScript</span> 
            </div>
            <div class="iconBox">
                <img src="../../assets/img/skills/git.png">
                <span>GIT</span>
            </div>
            <div class="iconBox">
                <img src="../../assets/img/skills/scrum.png">
                <span>Scrum</span> 
            </div>
            <div class="iconBox">
                <img src="../../assets/img/skills/matDesign.png">
                <div>
                    <span>Material </span>
                    <span>Design</span> 
                </div>
            </div>
        </div>
        <div class="column2">
            <div class="iconBox">
                <img src="../../assets/img/skills/angular.png">
                <span>Angular</span> 
            </div>
            <div class="iconBox">
                <img src="../../assets/img/skills/firebase.png"> 
                <span>Firebase</span> 
            </div>
            <div class="iconBox">
                <img src="../../assets/img/skills/api.png">
                <span>Rest-Api</span> 
            </div>
        </div>
        <div class="column2">
            <div class="iconBox">
                <img src="../../assets/img/skills/ts.png">
                <span>TypeScript</span> 
            </div>
            <div class="iconBox">
                <img src="../../assets/img/skills/css.png"> 
                <span>CSS</span> 
            </div>
        </div>
        <div class="column2"> 
            <div class="iconBox">
                <img src="../../assets/img/skills/html.png"> 
                <span>HTML</span> 
            </div>
            
        </div>
    </div> 

    <div class="skills">
        <div class="headline">
            <h1>Skills</h1>
            <img src="../../assets/img/skills/line_blue.png">
        </div>
        <span>I have gained experience in building projects with various 
            front end technologies and concepts.
        </span>
        <a href="#mycontact"><button> Get in touch</button></a>
    </div>
    
    

</section>
