section {
    height: 650px;
    display: flex;
    justify-content: center;
}

.skillsBlue {
    width: 44%;
    height: 4px;
    position: relative;
    display: flex;
    top: 204px;
    left: 74%;
    border: 4px;
}

.wrapperSkills {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    min-width: 320px;
}

.mySkillsAnchorClass {
    position:  relative;
    top: -190px;
    height: 1px;
}

.d-none {
    display: none;
}

.iconfield {
    display: flex;
    width: 625px;
    height: 649px;
    position: relative;
    gap: 91px;
    left: 40px;
    img:hover {
        animation-name: bounce;
        -moz-animation-name: bounce;
        -webkit-animation-duration: 0.8s;
        animation-duration: 0.8s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
    }
}

.iconBox {
    width: 88px;
    height: 100px;
    gap: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 55.8px;
        height: 60px;
    }

    span {
        display: flex;
        justify-content: center;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }
}

.column1 {
    display: flex;
    flex-direction: column;
    width: 88px;
    height: 649px;
    gap: 91px;
}

.column2 {
    display: flex;
    flex-direction: column;
    height: 464px;
    width: 88px;
    gap: 91px;
}

.skills {
    display: flex;
    flex-direction: column;
    width: 572px;
    height: 286px;
    position: relative;
    top: 150px;
    left: 70px;
    span {
        width: 471px;
        height: 38px;
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 19.2px;
        color: #FFFFFF;
    }

    .headline {
        display: flex;
        align-items: center;
        h1 {
            color: #FFFFFF;
            width: 241px;
            height: 108px;
            font-family: Poppins;
            font-weight: 700;
            font-size: 90px;
            line-height: 108px;
            margin-block-start: 0px;
            margin-block-end: 30px;
            background-color: #141D2F;
            z-index: 1;
        }

        img {
            margin-left: 30px;
            margin-bottom: 35px;
            width: 300px;
            height: 0px;
            border: 4px;
        }
    }
}

button {
    width: 200px;
    height: 58px;
    position: absolute;
    top: 228px;
    border-radius: 10px;
    border-color: #70E61C;
    padding: 15px, 30px, 15px, 30px;
    gap: 10px;
    background: #70E61C;
    box-shadow: 4px 4px 4px 0px #00000040;
    cursor: pointer;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
}

button:hover {
    background-color: #9747FF;
    border-color: #9747FF;
    transform: scale(1.2);
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-20px);
		-ms-transform:     translateY(-20px);
		transform:         translateY(-20px)
	}
	60% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
}

@media (max-width: 1300px) {
    .iconfield {
        left: 50px;
    }

    .skills {
        left: 50px;
        span {
            width: 390px;
        }
    }
}

@media (max-width: 1100px) {
    .skills {
        span {
            width: 390px;
        }
    }
}

@media (max-width: 1050px) {
    .iconfield {
        left: 20px;
        transform: scale(0.9);
    }


    button {
        top: 240px;
    }
    

    .skills{
        left: -80px;
        top: 200px;
        transform: scale(0.9);
        span {
            width: 340px;
        }
    }

    .skillsBlue {
        top: 260px;
    }
}

@media (max-width: 900px) {
    .iconfield {
        gap: 60px;
    }
}

@media (max-width: 800px) {
    .iconfield {
        gap: 50px;
    }

    .skills{
        left: -110px;
    }
}

//MOBILE VIEW!
@media (max-width: 700px) {
    section {
        height: 1200px;
        display: flex;
    }
    
    .skillsBlue {
        width: 75%;
        height: 4px;
        position: relative;
        display: flex;
        top: 180px;
        left: 40%;
        border: 4px;
    }
    
    .wrapperSkills {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column-reverse;
        max-width: 1920px;
        min-width: 320px;
    }

    .iconfield {
        display: flex;
        width: 625px;
        height: 649px;
        position: relative;
        left: -55px;
        bottom: 100px;
        transform: scale(1);
        gap: 70px;
        margin-top: 100px;
        .column1 {
            gap: 50px;
        }
        
        .column2 {
            gap: 50px;
        }
    }

    .mySkillsAnchorClass {
        position:  relative;
        top: -1150px;
        height: 1px;
    }
    
    .iconBox {
        img {
            width: 45px;
            height: 45px;
        }
    
        span {
            display: flex;
            justify-content: center;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 700;
            line-height: 16.8px;
            letter-spacing: 0em;
            text-align: left;
            color: #FFFFFF;
        }
    }

    .mobileButton {
        width: 100px;
        display: flex;
        position: relative;
        top: -450px;
        z-index: 1;
    }

    button {
        width: 158px;
        height: 49px;
        color: #FFFFFF;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        left: 300%;
        top: 1450px;
    }

    .skills {
        display: flex;
        flex-direction: column;
        top: 150px;
        left: -40px;
        width: 100%;
        height: 286px;
        transform: scale(1);
        span {
            display: flex;
            width: 300px;
        }
        
        .headline {
            display: flex;
            justify-content: flex-end;
            h1 {
                transform: scale(1);
                color: #FFFFFF;
                width: 160px;
                height: 108px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 45px;
                line-height: 54px;
                margin-block-start: 0px;
                margin-block-end: 30px;
                background-color: #141D2F;
                z-index: 1;
            }
        }
    }
}

@media (max-width: 600px) {
    .iconfield {
        gap: 50px;
    }

    button {
        left: 250%;
    }
}

@media (max-width: 550px) {
    .iconfield {
        gap: 38px;
    }
}

@media (max-width: 500px) {
    .iconfield {
        gap: 23px;
    }

    button {
        left: 200%;
    }
}

@media (max-width: 450px) {
    .iconfield {
        transform: scale(0.9);
        left: -80px;
        gap: 20px;
    }

    .skillsBlue {
        left: 52%;
    }

    img {
        width: 40px;
        height: 40px;
    }

    .skills{
        left: -10px;
        span{
            display: flex;
            position: relative;
            right: 20px;
        }
    }
}

@media (max-width: 400px) {
    .skills {
       left: 30px;
        span{
            display: flex;
            position: relative;
            right: 40px;
        }
    }

    .skillsBlue {
        left: 59%;
    }

    .iconfield {
        gap: 5px;
        left: -60px;
    }

    button {
        left: 110px;
    }
}

@media (max-width: 350px) {
    .skills {
        span {
            width: 250px;
            right: 15px;
        }

        .headline {
            gap: 16px;
            img {
                width: 180px;
            }
        }
    }

    .iconfield {
        gap: 0;
        left: -30px;
    }

    button {
        left: 90px;
    }
}