<img data-aos="fade-left" data-aos-duration="500" class="skillsBlue" src="../../assets/img/skills/line_blue.png">

<section >
    <div class="mobileButton">
        @if(languageService.langEN){
            <a
            [ngClass]="{'d-none': mobileOff}"
            href="#mycontact"><button id="myRespPortfolio">Get in touch</button>
            </a>
        }@else {
            <a
            [ngClass]="{'d-none': mobileOff}"
            href="#mycontact"><button id="myRespPortfolio">Kontakt</button>
            </a>
        }
    </div>
    
    <div class="mySkillsAnchorClass">
        <a id="myskills"> </a>
    </div>

    <div class="wrapperSkills" >
        
    <div class="iconfield" >
        <div class="column1" data-aos="fade-right" data-aos-duration="500">
            <div class="iconBox">
                <img src="../../assets/img/skills/Javascript.png">
                <span>JavaScript</span> 
            </div>
            <div class="iconBox">
                <img src="../../assets/img/skills/git.png">
                <span>GIT</span>
            </div>
            <div class="iconBox">
                <img src="../../assets/img/skills/scrum.png">
                <span>Scrum</span> 
            </div>
            <div class="iconBox">
                <img src="../../assets/img/skills/matDesign.png">
                <div id="myportfolio">
                    <span>Material </span>
                    <span>Design</span> 
                </div>
            </div>
        </div>
        <div class="column2" data-aos="fade-right" data-aos-duration="500" data-aos-delay="250">
            <div class="iconBox">
                <img src="../../assets/img/skills/angular.png">
                <span>Angular</span> 
            </div>
            <div class="iconBox">
                <img src="../../assets/img/skills/firebase.png"> 
                <span>Firebase</span> 
            </div>
            <div class="iconBox">
                <img src="../../assets/img/skills/api.png">
                <span>Rest-Api</span> 
            </div>
        </div>
        <div class="column2" data-aos="fade-right" data-aos-duration="500" data-aos-delay="500">
            <div class="iconBox">
                <img src="../../assets/img/skills/ts.png">
                <span>TypeScript</span> 
            </div>
            <div class="iconBox">
                <img src="../../assets/img/skills/css.png"> 
                <span>CSS</span> 
            </div>
        </div>
        <div class="column2" data-aos="fade-right" data-aos-duration="500" data-aos-delay="750"> 
            <div class="iconBox">
                <img src="../../assets/img/skills/html.png"> 
                <span>HTML</span> 
            </div>
            
        </div>
    </div> 

    <div class="skills" data-aos="fade-left" data-aos-duration="500">
        <div class="headline">
            <h1>Skills</h1>
            <img src="../../assets/img/skills/line_blue.png">
        </div>
        @if(languageService.langEN){
            <span>I have gained experience in building projects with various 
                front end technologies and concepts.
            </span>
            <a
            [ngClass]="{'d-none': mobileOn}"
            href="#mycontact"><button>Get in touch</button></a>
        }@else{
            <span>Ich habe Erfahrung im Aufbau von Projekten mit verschiedenen 
                Frontendtechnologien und -Konzepten gesammelt.
            </span>
            <a
            [ngClass]="{'d-none': mobileOn}"
            href="#mycontact"><button>Kontakt</button></a>
        }
    </div>


    </div>


</section>
