
<img data-aos="fade-right" class="purple" src="../../assets/img/portfolio/line_purple.png">

<section  >
    
    <div data-aos="fade-right"  class="portfolioHeadline" >
        <div class="headline">
            <!-- <img src="../../assets/img/portfolio/line_purple.png"> -->
            <h1 >Portfolio</h1>
        </div>
        @if(languageService.langEN){
            <span>Explore a selection of my work here - 
                Interact with projects to see my skills in action.
            </span>
        }
        @else {
            <span>Entdecken Sie hier eine Auswahl meiner Arbeiten -
                Interagieren Sie mit Projekten, um meine Fähigkeiten in Aktion zu sehen.
            </span>
        }
    </div>


    
    <div class="wrapperPortfolio">

        <div class="contactAnchor" id="mycontact">
       
        </div>


        <div class="portfolioSection">
            @if(languageService.langEN){
                <div class="firstRow">
                    <app-project 
                    data-aos="flip-up"
                    data-aos-duration="500"
                    data-aos-delay="0"
                    imageSrc="../../assets/img/project/polloloco_Bg.png"
                    projectTitle="El Pollo Loco"
                    description="Jump, run and throw game based on object-oriented 
                                approach. Help Pepe to find coins and 
                                tabasco salsa to fight against the crazy hen"
                    tech="Javascript | HTML | CSS"
                    idGit="polloGit"
                    idTest="polloTest"
                    idProject="pollo"
                    idBackground="polloBg"
                    idImage="polloImg"
                    >
                    </app-project>

                    <app-project 
                    data-aos="flip-up"
                    data-aos-duration="500"
                    data-aos-delay="0"
                    imageSrc="../../assets/img/project/join_Bg.png"
                    projectTitle="Join"
                    description="Task manager inspired by the Kanban System. Create 
                    and organize tasks using drag and drop functions, assign users and categories. "
                    tech="Javascript | HTML | CSS"
                    idGit="joinGit"
                    idTest="joinTest"
                    idProject="join"
                    idBackground="joinBg"
                    idImage="joinImg"
                    ></app-project>
                </div>

                <div class="secondRow">
                    <app-project 
                    data-aos="flip-up"
                    data-aos-duration="500"
                    data-aos-delay="0"
                    imageSrc="../../assets/img/project/crm_Bg.png"
                    projectTitle="Simple CRM"
                    description="A very Simple Customer Relationship Management 
                                system working with CRUD functionality."
                    tech="Angular | Firebase"
                    idGit="crmGit"
                    idTest="crmTest"
                    idProject="crm"
                    idBackground="crmBg"
                    idImage="crmImg"
                    > 
                    </app-project>
                </div>
            }
            @else{
                <div class="firstRow">
                    <app-project 
                    data-aos="flip-up"
                    data-aos-duration="500"
                    data-aos-delay="0"
                    imageSrc="../../assets/img/project/polloloco_Bg.png"
                    projectTitle="El Pollo Loco"
                    description="Ein Spring-, Lauf- und Wurfspiel auf objektorientierter
                    Basis. Helfen Sie Pepe, Münzen und
                    Tabasco-Salsa zu finden, 
                    um gegen die verrückte Henne zu kämpfen"
                    tech="Javascript | HTML | CSS"
                    idGit="polloGit"
                    idTest="polloTest"
                    idProject="pollo"
                    idBackground="polloBg"
                    idImage="polloImg"
                    >
                    </app-project>
        
                    <app-project 
                    data-aos="flip-up"
                    data-aos-duration="500"
                    data-aos-delay="0"
                    imageSrc="../../assets/img/project/join_Bg.png"
                    projectTitle="Join"
                    description="Vom Kanban-System inspirierter Aufgabenmanager. Erstellen
                    und organisieren Sie Aufgaben per Drag-and-Drop, weisen Sie Benutzer und Kategorien zu."
                    tech="Javascript | HTML | CSS"
                    idGit="joinGit"
                    idTest="joinTest"
                    idProject="join"
                    idBackground="joinBg"
                    idImage="joinImg"
                    ></app-project>
                </div>
                
                <div class="secondRow">
                    <app-project 
                    data-aos="flip-up"
                    data-aos-duration="500"
                    data-aos-delay="0"
                    imageSrc="../../assets/img/project/crm_Bg.png"
                    projectTitle="Simple CRM"
                    description="Ein sehr einfaches Kundenmanagementsystem,
                             welches mit CRUD-Funktionalität arbeitet."
                    tech="Angular | Firebase"
                    idGit="crmGit"
                    idTest="crmTest"
                    idProject="crm"
                    idBackground="crmBg"
                    idImage="crmImg"
                    > 
                    </app-project>
                
                    <!--
                    <app-project 
                        imageSrc="../../assets/img/project/pokedex_Bg.png"
                        projectTitle="Pokédex"
                        description="Based on the PokéAPI a simple library that 
                                    provides and catalogues pokemon information."
                        tech="JavaScript | HTML | CSS | Api"
                        idGit="pokeGit"
                        idTest="pokeTest"
                        idProject="poke"
                        idBackground="pokeBg"
                        idImage="pokeImg"
                        >
                    </app-project>
                    -->
                </div>

            }
        </div>


    </div>
    
    <div class="shadows">
        <img class="greenShadow" src="../../assets/img/portfolio/greenShadowPortfolio.png">
        <img class="blueShadow" src="../../assets/img/portfolio/blueShadowPortfolio.png">
    </div>
    

    

</section>


