.hideInLandscape {
    display: none;
}

app-header{
    width: 100%;
    /*correction
    max-width: 1920px;
    min-width: 320px;
    */
}

app-footer{
    width: 100%;
    /*correction
    max-width: 1920px;
    min-width: 320px;
    */
    
}

router-outlet {
    width: 100%;
    max-width: 1920px;
    min-width: 320px;
}