app-header {
    height: 128px;
}


app-footer{
    /*
    position: relative;
    top: -400px;
    */
}

app-main {
    height: 100px;
}


.privacyFooter{
    top: 200px !important;
}


.legalFooter{
    top: 250px !important;
}


@media (max-width: 1200px) {
    app-footer{
        /*
        position: relative;
        top: -650px;
        */
    }
}


@media (max-width: 1050px) {
    app-footer{
        position: relative;
        top: -75px;
    }
}


@media (max-width: 900px) {
    app-footer{
        position: relative;
        top: 0px;
    }
}


@media (max-width: 800px) {
    app-footer{
        position: relative;
        top: 0px;
    }
}

@media (max-width: 700px) {
    app-footer{
        position: relative;
        top: 2500px;
    }
}


@media (max-width: 600px) {
    app-footer{
        position: relative;
        top: 1855px;
    }
}


@media (max-width: 450px) {
    app-footer{
        position: relative;
        top: 1600px;
    }
}


@media (max-width: 400px) {
    app-footer{
        position: relative;
        top: 1550px;
    }
}


.hideInLandscape {
    display: none;
}