<section>
    <div class="wrapperPrivacy">
        @if(languageService.langEN){
            <div class="impressum">
                <h1>Data Protection</h1>
                <h2>1. Data protection at a glance</h2>
                <h3>General information</h3>
                <p>The following notes provide a simple overview of how
                what happens to your personal data when you use this website
                visit. Personal data is all data with which you
                can be personally identified. Detailed
                Information on the subject of data protection can be found here
                Data protection declaration listed in the text.</p>
                <h3>Data collection on this website</h3> 
                <h3>Who is responsible for data collection on this website?</h3>
                <p>The data processing on this website is carried out by
                    Website operator. You can find their contact details in the section
                    &ldquo;Note on the responsible body&rdquo; in this
                Please see the data protection declaration.</p>
                <h3>How do we collect your data?</h3>
                <p>Your data is collected on the one hand when you provide it to us.
                    This can be, for example: is data that you enter into a
                    Enter contact form.
                </p>
                <p>Other data is stored automatically or with your consent
                    Visits to the website are recorded by our IT systems. These are above all
                    technical data (e.g. internet browser, operating system or
                    Time of page access). This data is collected
                    automatically as soon as you enter this website.</p>
                <h3>What do we use your data for?</h3>
                <p>Some of the data is collected to ensure error-free provision
                    the website. Other data may be available for analysis
                    Your user behavior will be used.</p> <h3>What rights do you have
                    regarding your data?</h3> <p>You have the right at any time
                    free information about origin, recipient and
                    Purpose to obtain your personal data stored.
                    You also have a right to rectification or deletion
                    to request this data. If you give your consent to
                    If you have given your consent to data processing, you can give this consent
                    revoked at any time in the future. Besides, you have this
                    Right, in certain circumstances, to restrict the
                    to request processing of your personal data. Further
                    You have the right to complain to the responsible person
                    Supervisory authority.</p> <p>On this and other questions about
                    You can contact us at any time regarding data protection issues.</p>
                <h2>2. Hosting</h2>
                <p>We host the content of our website with the following provider:</p>
                <h3>All inclusive</h3>
                <p>The provider is ALL-INKL.COM - Neue Medien M&uuml;nnich,
                    Owner Ren&eacute; M&uuml;nnich, Hauptstrasse 68, 02742 Friedersdorf
                    (hereinafter all-inclusive). Details can be found in the
                    Data protection declaration from
                    All-Inclusive: <a href="https://all-inkl.com/datenschutzinformation/"
                    target="_blank" rel="noopener noreferrer">https://all-inkl.com/datenschutzinformation/</a>.
                </p>
                <p>The use of All-Inclusive is based on Art. 6 Para. 1
                    lit. f GDPR. We have a legitimate interest in
                    a representation of our website that is as reliable as possible.
                    If appropriate consent has been requested, this will be given
                    Processing exclusively on the basis of Art. 6 Para. 1 lit.
                    a GDPR and &sect; 25 Para. 1 TTDSG, insofar as the consent
                    Storing cookies or accessing information in the
                    User's end device (e.g. device fingerprinting)
                    within the meaning of the TTDSG. Consent is available at any time
                revocable.</p>
            </div>
        }@else {
            <div class="impressum">
                <h1>Datenschutz&shy;erkl&auml;rung</h1>
                <h2>1. Datenschutz auf einen Blick</h2>
                <h3>Allgemeine Hinweise</h3>
                <p>Die folgenden Hinweise geben einen einfachen &Uuml;berblick dar&uuml;ber,
                    was mit Ihren personenbezogenen Daten passiert, wenn Sie diese Website 
                    besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie 
                    pers&ouml;nlich identifiziert werden k&ouml;nnen. Ausf&uuml;hrliche 
                    Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem 
                    Text aufgef&uuml;hrten Datenschutzerkl&auml;rung.</p>
                <h3>Datenerfassung auf dieser Website</h3> 
                <h3>Wer ist verantwortlich f&uuml;r die Datenerfassung auf dieser Website?</h3>
                <p>Die Datenverarbeitung auf dieser Website erfolgt durch den 
                    Websitebetreiber. Dessen Kontaktdaten k&ouml;nnen Sie dem Abschnitt 
                    &bdquo;Hinweis zur Verantwortlichen Stelle&ldquo; in dieser 
                    Datenschutzerkl&auml;rung entnehmen.</p> 
                    <h3>Wie erfassen wir Ihre Daten?</h3> 
                <p>Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen.
                    Hierbei kann es sich z.&nbsp;B. um Daten handeln, die Sie in ein 
                    Kontaktformular eingeben.</p> 
                <p>Andere Daten werden automatisch oder nach Ihrer Einwilligung beim 
                    Besuch der Website durch unsere IT-Systeme erfasst. Das sind vor allem 
                    technische Daten (z.&nbsp;B. Internetbrowser, Betriebssystem oder 
                    Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt 
                    automatisch, sobald Sie diese Website betreten.</p> 
                <h3>Wof&uuml;r nutzen wir Ihre Daten?</h3> 
                <p>Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung 
                    der Website zu gew&auml;hrleisten. Andere Daten k&ouml;nnen zur Analyse 
                    Ihres Nutzerverhaltens verwendet werden.</p> <h3>Welche Rechte haben Sie 
                    bez&uuml;glich Ihrer Daten?</h3> <p>Sie haben jederzeit das Recht, 
                    unentgeltlich Auskunft &uuml;ber Herkunft, Empf&auml;nger und 
                    Zweck Ihrer gespeicherten personenbezogenen Daten zu erhalten. 
                    Sie haben au&szlig;erdem ein Recht, die Berichtigung oder L&ouml;schung 
                    dieser Daten zu verlangen. Wenn Sie eine Einwilligung zur 
                    Datenverarbeitung erteilt haben, k&ouml;nnen Sie diese Einwilligung 
                    jederzeit f&uuml;r die Zukunft widerrufen. Au&szlig;erdem haben Sie das 
                    Recht, unter bestimmten Umst&auml;nden die Einschr&auml;nkung der 
                    Verarbeitung Ihrer personenbezogenen Daten zu verlangen. Des Weiteren 
                    steht Ihnen ein Beschwerderecht bei der zust&auml;ndigen 
                    Aufsichtsbeh&ouml;rde zu.</p> <p>Hierzu sowie zu weiteren Fragen zum 
                    Thema Datenschutz k&ouml;nnen Sie sich jederzeit an uns wenden.</p>
                <h2>2. Hosting</h2>
                <p>Wir hosten die Inhalte unserer Website bei folgendem Anbieter:</p>
                <h3>All-Inkl</h3> 
                <p>Anbieter ist die ALL-INKL.COM - Neue Medien M&uuml;nnich, 
                    Inh. Ren&eacute; M&uuml;nnich, Hauptstra&szlig;e 68, 02742 Friedersdorf 
                    (nachfolgend All-Inkl). Details entnehmen Sie der 
                    Datenschutzerkl&auml;rung von 
                    All-Inkl: <a href="https://all-inkl.com/datenschutzinformationen/" 
                    target="_blank" rel="noopener noreferrer">https://all-inkl.com/datenschutzinformationen/</a>.
                </p> 
                <p>Die Verwendung von All-Inkl erfolgt auf Grundlage von Art. 6 Abs. 1 
                    lit. f DSGVO. Wir haben ein berechtigtes Interesse an 
                    einer m&ouml;glichst zuverl&auml;ssigen Darstellung unserer Website. 
                    Sofern eine entsprechende Einwilligung abgefragt wurde, erfolgt die 
                    Verarbeitung ausschlie&szlig;lich auf Grundlage von Art. 6 Abs. 1 lit. 
                    a DSGVO und &sect; 25 Abs. 1 TTDSG, soweit die Einwilligung die 
                    Speicherung von Cookies oder den Zugriff auf Informationen im 
                    Endger&auml;t des Nutzers (z.&nbsp;B. Device-Fingerprinting) 
                    im Sinne des TTDSG umfasst. Die Einwilligung ist jederzeit 
                    widerrufbar.</p>
            </div>
        }        
    </div>
</section>


