section {
    display: flex;
    flex-direction: column;
    background-color: #141D2F;
    justify-content: center;
    height: 100vh;
    max-width: 1920px;
    min-width: 320px;
    width: 100%;
    overflow: hidden;
}

.d-none {
    display: none;
}

.verticalHeadlineBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 80px;
    width: 100%;
    gap: 35px;
}

.purpleShadow {
    position: relative;
    left: 200.23px;
    top: 60px;
    rotate: -2.66deg;
}

.blueShadow {
    position: relative;
    top: 10px;
    right: 100px;
    height: 700px;
    width: 779.58px;
    rotate: -10.13deg;
}

.nameSection {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1100px;
 
}

.iam {
    display: flex;
    rotate: 180deg !important;
}

.horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    transform: scale(0.95);
    span {
        font-family: Poppins;
        font-weight: 400;
        font-size: 90px;
        line-height: 108px;
        color: #FFFFFF;
        writing-mode: vertical-rl;
    }
}

#name{
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 700;
    font-size: 128px;
    line-height: 153.6px;
    writing-mode: horizontal-tb;
}

#title{
    font-family: Poppins;
    color: #9747FF;
    font-weight: 400;
    font-size: 83px;
    line-height: 76.8px;
    writing-mode: horizontal-tb;
}

.talk {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -100px;
    a {
        width: 165px;
        height: 58px;
        z-index: 3;
        text-decoration: none;
        color: #FFFFFF;
    
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            width: 165px;
            height: 58px;
            border-radius: 10px;
            border-color: #70E61C;
            gap: 10px;
            background: #70E61C;
            box-shadow: 4px 4px 4px 0px #00000040;
            cursor: pointer;
            color: #FFFFFF;
            font-family: Poppins;
            font-size: 23px;
            font-weight: 400;
            line-height: 27.6px;
        } 
    }
}

button:hover {
    background-color: #9747FF;
    border-color: #9747FF;
    transform: scale(1.2);
}

.socials{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    position: relative;
    top: 50px;
    gap: 42px;
}

.scaleUp:hover {
    cursor: pointer;
    transform: scale(1.4);
}

#line{
    width: 100px;
    border: 4px;
    border-color: #70E61C;
}

.scrollDown{
    display: flex;
    position: relative;
    top: -120px;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 24px;
    gap: 3px;
}

.scrollDown span {
    display: flex;
    writing-mode: vertical-rl;
    font-family: Poppins;
    font-weight: 400;
    font-size: 23px;
    line-height: 27.6px;
    color: #FFFFFF;
}

.scrollDown img {
    width: 24px;
    height: 24px;
    position: relative;
    right: 2px;
}



@media (max-width: 1500px) {
    .purpleShadow {
        position: relative;
        left: 200px;
    }
}

@media (max-width: 1400px) {

}

@media (max-width: 1300px) {
    .horizontal{
        transform: scale(0.85);
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 1050px) {
    .horizontal{
        transform: scale(0.65);
    }


}

@media (max-width: 900px) {
    .horizontal{
        transform: scale(0.55);
    } 


}

@media (max-width: 800px) {
    .horizontal{
        transform: scale(0.50);
    }
}

//MOBILE VIEW!
@media (max-width: 700px) {
    .purpleShadow {
        position: relative;
        left: 180px;
        top: -30px;
        height: 400px;
        transform: scale(1);
    }
    
    .blueShadow {
        position: relative;
        top: 110px;
        right: 60px;
        width: 600px;
        transform: scale(1);
        rotate: 0deg;
        height: 350px;
    }

    .talk {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -150px;
        transform: scale(1);
        a {
            width: 133px;
            height: 49px;
            
            button {
                width: 133px;
                height: 49px;
                color: #FFFFFF;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.2px;
            }
        }
    }

    .socials {
        transform: scale(1);
        right: 10px;
        top: 0px;
    }

    .horizontal {
        display: flex;
        position: relative;
        top: -100px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        transform: scale(1);
        span {
            font-family: Poppins;
            font-weight: 400;
            font-size: 32px;
            line-height: 38.4px;
            color: #FFFFFF;
            writing-mode: vertical-rl;
            position: relative;
        }
    }

    #name{
        color: #FFFFFF;
        font-family: Poppins;
        font-weight: 700;
        font-size: 45px;
        line-height: 54px;
        writing-mode: horizontal-tb;
        text-wrap: nowrap;
    }
    
    #title{
        font-family: Poppins;
        color: #9747FF;
        font-weight: 400;
        font-size: 29px;
        line-height: 34.8px;
        writing-mode: horizontal-tb;
        text-wrap: nowrap;
    }

    .verticalHeadlineBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: unset;
        position: relative;
        top: 80px;
        width: 100%;
        gap: 35px;
        transform: scale(1);
    }


}

@media (max-width: 600px) {
    .blueShadow {
        right: 100px;
    }
}

@media (max-width: 500px) {
    .blueShadow {
        right: 130px;
    }

    .horizontal {
        right: 20px;
    }
}

@media (max-width: 480px) {
    .socials {
        transform: scale(0.8);
        right: 40px;
        top: 60px;
    }
}

@media (max-width: 450px) {
    .horizontal {
        transform: scale(0.9); 
    }

    .talk {
        transform: scale(0.9);
    }
}

@media (max-width: 400px) {
    .horizontal {
        transform: scale(0.7);
        right: 13px;  
    }

    .talk {
        transform: scale(0.8);
    }

    .blueShadow {
        right: 110px;
    }
}

@media (max-width: 350px) {
    .blueShadow {
        right: 150px;
    }
}

@media (max-height: 730px){
    .purpleShadow {
        top: 20px;
    }
}