section {
    background-color: #141D2F;
    height: 500px;
    width: 100%;
}

.verticalHeadlineBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 297px;
    left: 207px;
    gap: 35px;

    span {
        font-weight: 400;
        font-size: 90px;
        line-height: 108px;
        align-items: center;
        color: #FFFFFF;
        writing-mode: vertical-rl;
    }
}

.horizontal {
    display: flex;
    flex-direction: column;
    width: 920px;
    height: 224px;
    gap: 6px;
    
    #name{
        width: 920px;
        height: 149px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 128px;
        line-height: 153.6px;
        writing-mode: horizontal-tb;
    }

    #title{
        width: 740px;
        height: 69px;

        color: #9747FF;
        font-weight: 400;
        font-size: 64px;
        line-height: 76.8px;
        writing-mode: horizontal-tb;
    }
}

.purpleShadow {
    width: 572.03px;
    height: 608px;
    position: absolute;
    top: 140px;
    left: -149.23px;
    rotate: -2.66deg;
}

.blueShadow {
    width: 679.58px;
    height: 573.58px;
    position: absolute;
    top: 150.9px;
    left: 1150.63px;
    rotate: 0.87deg

}

button {
    width: 165px;
    height: 58px;
    position: absolute;
    top: 593px;
    left: 637px;
    border-radius: 10px;
    border-color: #70E61C;
    padding: 15px, 30px, 15px, 30px;
    gap: 10px;
    background: #70E61C;
    box-shadow: 4px 4px 4px 0px #00000040;
    cursor: pointer;

    //Button Text
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    
}

.socials{
    display: flex;
    align-items: center;
    height: 40px;
    width: 300px;
    position: absolute;
    top: 867px;
    gap: 42px;
}

#line{
    width: 100px;
    border: 4px;
    border-color: #70E61C;
}

.scrollDown{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28px;
    height: 160px;
    position: absolute;
    top: 747px;
    left: 1316px;
    gap: 3px;
}

.scrollDown span {
    display: flex;
    writing-mode: vertical-rl;
    font-weight: 400;
    font-size: 23px;
    line-height: 27.6px;
    color: #FFFFFF;
}

.scrollDown img {
    width: 24px;
    height: 24px;
}