<section>
    <img class="purpleShadow" src="/assets/img/atf/purple_shadow_atf.png">
    <div class="verticalHeadlineBox">
        <span class="iam">I am</span>
        <div class="horizontal" >
            <span id="name">Simon Weirauch</span>
            <span id="title">FRONTEND DEVELOPER</span>
        </div>
    </div>
    <img class="blueShadow" src="/assets/img/atf/blue_shadow_atf.png">
    <a href="#mycontact"><button> Let´s talk!</button></a>
    <div class="socials">
        <img id="line" src="../../assets/img/atf/line_green.png">
        <img src="../../assets/img/atf/github_button.png">
        <img src="../../assets/img/atf/email_button.png">
        <img src="../../assets/img/atf/linkedin_button.png">
    </div>
    <div  class="scrollDown">
        <span>Scroll down </span>
        <img src="../../assets/img/atf/arrow-down-line.png">
    </div >
</section>
